body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

.block-first-one.active {
    transform: translateY(0);
}

.block-first-one {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    transform: translateY(3000px);
    transition: all ease 0.5s;
    z-index: 9999;
    
    
    .block-one {
        position: absolute;
        width: 600px;
        height: 500px;
        background: linear-gradient(red,blue);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        
        .img-one {
            height: 300px;
            width: 100%;
        }

        .win-one {
            margin-top: 50px;
            background: linear-gradient(yellow, red);
            display: block;
            text-align: center;
            padding: 10px 0;
            border-radius: 15px;
            text-decoration: none;
            transition: all ease 0.5s;
            color: white;
            font-size: 20px;

            &:hover {
                background: linear-gradient(red, yellow);
            }
            
        }
    }

}



.section1 {
    background-repeat: no-repeat;
    background-image: url('../img/photo.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    z-index: 20;
    // display: none;
}

.selectone {
    color: #fff;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    cursor: pointer;
    font-size: 20px;
}

.one {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    align-items: center;
}

.two {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.btn {
    background: #fff;
    padding: 10px 25px;
    box-shadow: 0 0 20px 0 white;
    outline: none;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1) 0.4s all;
    transition: all ease 0.5s;
    cursor: pointer;

    &:hover {
        color: #fff;
        background: #000;
    }

    &:active {
        transform: scale(1.4);
    }
}

.form-select {
    outline: none;
    border: none;
    background: none;
    color: #fff;
    font-size: 22px;
    border-bottom: 3px solid #fff;
}

.button {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.top-text {
    color: white;
    text-align: center;
    padding-top: 100px;
}

.game.active {
    z-index: 30;
    height: 100%;
    overflow: auto;
}

.game {

    width: 100vw;
    background-image: url('../img/photo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    background-position: center;
    top: 0;
    z-index: 1;
    height: 0;
    overflow: hidden;
    transition: all ease 0.1s;

    #timer-item {
        color: white;
        text-align: left;
        padding-top: 50px; 
        padding-bottom: 30px;
        font-size: 30px;
    }

    .savollar-block {
        width: 1000px;
        min-height: 200px;
        background-color: rgba(255, 255, 255, 0.5);
        margin: 0 auto;
        transition: all ease 1s;
        padding: 20px 20px;
    }

    .savollar-block-top {
        padding: 10px 5px;
        background-color: rgba(255, 255, 255, 0.3);
        box-shadow: 0px 0px 10px 0px #333333;
    }

    .savollar-text {
        text-align: center;
        color: white;
        font-size: 28px;

    }
}

.savollar-block-inner {

    margin: 50px 50px;
    @media screen and (max-width:525px){
    margin: 50px 18px;
    padding-top: 30px;

    }
    .avto-link {
        width: 70px;
        height: 70px;
        overflow: hidden;
        border: 2px solid grey;
        background-color: rgba(0, 0, 0, 0.4);
        cursor: pointer;
        display: inline-block;
        box-shadow: 0px 0px 10px 0px #333333;
        margin-right: 20px;
        margin-bottom: 20px;
        transition: all ease 0.5s;
        padding: 5px;
        box-sizing: border-box;

        position: relative;

        &:hover {
            background-color: rgba(0, 0, 0, 0.9);
        }

        img {
            margin: auto;
            display: inline-block;
            position: relative;
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }
}

#countdown {
    color: white;
}

.win.active {
    left: 0;
}

.win-back.active {
    display: block;
}

.win-back {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    z-index: 50;
    display: none;
}

.win {
    position: absolute;
    top: 0;
    left: -2000px;
    right: 0;
    bottom: 0;
    width: 350px;
    height: 350px;
    padding: 5px;
    box-sizing: border-box;
    transition: all ease 0.5s;
    background: rgb(34, 34, 34);
    margin: auto;
    z-index: 51;


    .win-link {
        color: white;
        padding: 10px 20px;
        background: red;
        border-radius: 15px;
        transition: all ease 0.5s;
        background: linear-gradient(0 50%#e66465, 50% 100% #9198e5);
        text-decoration: none;
        display: flex;
        justify-content: center;
        margin-top: 15px;

        &:hover {
            background: linear-gradient(#9198e5, #e66465);
        }
    }

    .win-text {
        color: white;
        text-align: center;
    }

    .win-img {
        width: 100%;
        height: 200px;



    }
}

@media only  screen and (max-width:576px) {


    .section1 {
        background-repeat: no-repeat;
        background-image: url('../img/photo.jpg');
        background-size: cover;
        height: 100vh;
        width: 100vw;
        z-index: 20;
        background-position: center;
        // display: none;
    }


    .game {


        #timer-item {
            color: white;
            text-align: left;
            padding-top: 50px; 
            padding-bottom: 30px;
            font-size: 30px;
            z-index:10 ;
            position: fixed;
            bottom: 0;
            background: black;
            left: 0;
            right: 0;
            padding: 2px;
            text-align: center;
            display: none;

        }

        #timer-item.active {
            color: white;
            text-align: left;
            padding-top: 50px; 
            padding-bottom: 30px;
            font-size: 30px;
            z-index:10 ;
            position: fixed;
            bottom: 0;
            background: black;
            left: 0;
            right: 0;
            padding: 2px;
            text-align: center;
            display: block;

        }

        .savollar-block {
            max-width: 90%;
            min-height: 200px;
            background-color: rgba(255, 255, 255, 0.5);
            margin: 0 auto;
            transition: all ease 1s;
            padding: 20px 20px;
            
            
        }

             .savollar-block-top {
            padding: 10px 5px;
            background-color: rgba(255, 255, 255, 0.3);
            -webkit-box-shadow: 0px 0px 10px 0px #333333;
            box-shadow: 0px 0px 10px 0px #333333;
            position: fixed;
            top: 10px;
            margin: 0 auto;
            display: none;
            
            // z-index: 1;
        }

        .savollar-block-top.active {
            padding: 2px 5px;
            background-color: rgba(255, 255, 255, 0.3);
            -webkit-box-shadow: 0px 0px 10px 0px #333333;
            box-shadow: 0px 0px 10px 0px #333333;
            position: fixed;
            top: 0;
            margin: 0 auto;
            display: block;
            background: black;
            left: 0;
            right: 0;
            z-index: 1;

            // z-index: 1;
        }
    }

    

    

     

}